!!! XML
!!!
%html
  %head
    %title
      =h @article.user.screen_name
      \-
      =h @article.comments
    = stylesheet_link_tag 'common'
    %link{:rel => "alternate", :type => "application/rss+xml", :title => "Atom", :href => 'http://p4t.mobi/stream/'+h(@article.user.screen_name)+'/atom/'}
  %body 
    = render :partial => 'layouts/header'
    %div
      = image_tag '/photos/'+@article.id.to_s+'.png'
      %p
        =h @article.comments
