%div
  - form_tag :action => :update_password do
    %p
      %b Current Password:
    %p
      = password_field_tag 'current', nil, {:autocomplete => 'off'}
    %p
      %b New Password:
    %p
      = password_field_tag 'password', nil, {:autocomplete => 'off'}
    %p
      %b Verify New Password:
    %p
      = password_field_tag 'password_verify', nil, {:autocomplete => 'off'}
    %p
      = submit_tag
